/* Estilos globales.css */

/* Variables CSS para mantener la consistencia */
:root {
    --font-family-main: sans-serif;
    /* Impact, Charcoal,  */
    --color-text-main: #000000;
    --color-hover: #53dcd9;
    --transition-time: 0.4s;
}

/* Estilos base para móviles */
body {
    font-family: var(--font-family-main);
    color: var(--color-text-main);
    transition: color var(--transition-time);
}

#demoFont {
    font-size: 36px; /* Tamaño más pequeño para móviles */
    letter-spacing: 2px;
    word-spacing: 0px;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
}

#hvr-svg {
    fill: currentColor;
    width: 50%; /* Tamaño inicial más pequeño para móviles */
    height: auto;
    transition: fill var(--transition-time);
}

#HeaderButtons button {
    font-size: 1rem; /* Tamaño de fuente base para móviles */
    padding: 0.5rem 1rem; /* Padding base para móviles */
}

/* Estilos para tabletas */
@media (min-width: 768px) {
    #demoFont {
        font-size: 72px; /* Tamaño intermedio para tabletas */
    }

    #hvr-svg {
        width: 75%; /* Tamaño intermedio para tabletas */
    }

    #HeaderButtons button {
        font-size: 1.25rem; /* Tamaño de fuente aumentado para tabletas */
        padding: 0.75rem 1.5rem; /* Padding aumentado para tabletas */
    }
}

/* Estilos para desktop */
@media (min-width: 1024px) {
    #demoFont {
        font-size: 100px; /* Tamaño original para desktop */
        letter-spacing: 6px;
        word-spacing: -5px;
    }

    #hvr-svg {
        width: 100%; /* Tamaño completo para desktop */
    }

    /* Styles para el header */
    #HeaderButtons button {
        font-size: 1.5rem; /* Tamaño de fuente aumentado para desktop */
        padding: 1rem 2rem; /* Padding aumentado para desktop */
    }

    
}

/* Estilos de hover */
#demoFont:hover, #hvr-svg:hover {
    color: var(--color-hover); /* Color celeste al hacer hover */
    fill: var(--color-hover); /* Aplica también al SVG */
    transition: color var(--transition-time);
}
